<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{article1}}">Page 1</a></li>
          <li><a href="{{article1}}">Article 2</a></li>
          <li><a href="{{article1}}">Article 3</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Welcome to my website!</h1>
      <p>
        Here you will find information on various topics. Please select an
        article from the navigation bar above.
      </p>
      <section>
        <h2>About Me</h2>
        <p>Insert your personal information here.</p>
      </section>
    </main>
  </body>
</html>
